# {{ ansible_managed }}

server {
    ### server port and name ###
    listen               {{ php_site.listen }};
    server_name          {{ php_site.server_name }};

    ### log files ###
    access_log           {{ php_site.access_log }};
    error_log            {{ php_site.error_log }};

    root {{ php_site.root }}/current/web;

    ### log files ###
    access_log           /var/log/nginx/{{ php_site.name }}-access.log;
    error_log            /var/log/nginx/{{ php_site.name }}-error.log;

    index index.html index.php;

    include includes/security;
    #include includes/cache_static;
    include includes/headers;

    location / {
         try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
            try_files $uri /index.php =404;
            fastcgi_pass php_www_pool;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
    }
}

