#
# {{ ansible_managed }}
#
###############################################################################
# SOURCE		DEST		POLICY		LOG LEVEL	LIMIT:BURST
{% for p in shorewall.policy %}
{{ p }}
{% endfor %}
