#
# {{ ansible_managed }}
# 
######################################################################################################################################################################################
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE	USER/	MARK	CONNLIMIT	TIME         HEADERS         SWITCH
#							PORT	PORT(S)		DEST		LIMIT	GROUP
{% for r in shorewall.rules %}
{{ r }}
{% endfor %}
