# {{ ansible_managed }}
smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

# TLS parameters
smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache

# SSL ciphers and protocols
smtpd_tls_mandatory_ciphers = medium,high
smtpd_tls_protocols = TLSv1
smtpd_tls_ciphers = high
smtpd_tls_exclude_ciphers = aNULL,RC4
smtpd_sasl_security_options = noplaintext

# SMTP parameters
smtp_use_tls = yes
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

mailbox_size_limit = 0
message_size_limit = 10240000

myhostname = {{ ansible_hostname }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
mydestination = {{ ansible_fqdn }}, {{ ansible_hostname }}, localhost.localdomain, localhost

{% if postfix.relayhost != false %}
relayhost = {{ postfix.relayhost }}
{% endif %}

{% if postfix.is_relayhost == true %}
sender_dependent_relayhost_maps = hash:/etc/postfix/sender_dependent_relayhost
smtp_sender_dependent_authentication = yes
{% endif %}

smtp_sasl_auth_enable = yes 
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
smtp_tls_security_level = encrypt 
smtp_sasl_security_options =

mynetworks = {{ postfix.mynetworks }}
recipient_delimiter = +
inet_interfaces = {% if postfix.is_relayhost %}all{% else %}loopback-only{% endif %}

inet_protocols = ipv4
