# {{ ansible_managed }}

server {
    listen 80 default_server;
    server_name localhost;

{% if (letsencrypt.enabled) %}
	{# Note: This will give different output for the primary server, and all other servers. This is to ensure Let's Encrypt can always renew. #}
	# Let's Encrypt root this is for testing to ensure we have the right domain. (ansible_host: {{ ansible_host }} )
    location /.well-known/ {
{% if (ansible_host == letsencrypt.primary_server) %}
		root /var/www/acme-challenge/;
		access_log /var/log/nginx/letsencrypt.access.log;
		error_log /var/log/nginx/letsencrypt.error.log;
{% else %}
		proxy_pass http://{{ letsencrypt.primary_server }};
		access_log /var/log/nginx/letsencrypt.remote.access.log;
		error_log /var/log/nginx/letsencrypt.remote.error.log;
{% endif %}
	}
{% endif %}

    location / {
        rewrite ^ {{ nginx.default_redirect }} permanent;
    }
}
