# {{ ansible_managed }}
user {{ nginx.user }};
worker_processes {{ nginx.worker_processes }};
pid /run/nginx.pid;

events {
	worker_connections {{ nginx.worker_connections }};
	# multi_accept on;
}

http {
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
	server_tokens {{ nginx.server_tokens }};

	server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	include /etc/nginx/conf.d/*.conf;

	access_log /var/log/nginx/access.log custom_combined;
	error_log /var/log/nginx/error.log;

	include compression;
	include headers;

	include /etc/nginx/sites-enabled/*;
}
