# {{ ansible_managed }}

upstream {{ reverse_proxy.upstream.name }} {
{% for server in reverse_proxy.upstream.servers %}
    {{ server }}
{% endfor %}
{% for server_ip in reverse_proxy.upstream.server_ips %}
    server {{ server_ip }}:80 max_fails=3 fail_timeout=5s;
{% endfor %}
}


{% for server_name in reverse_proxy.server_names %}
server {
    ### server port and name ###
    listen               {{ reverse_proxy.listen }};
    server_name          {{ server_name }};

    ### log files ###
    access_log           /var/log/nginx/{{ server_name }}-access.log;
    error_log            /var/log/nginx/{{ server_name }}-error.log;

{% if reverse_proxy.ssl %}
    ### SSL cert files ###
    ssl                  on;
    ssl_protocols        TLSv1 TLSv1.1 TLSv1.2;
    ssl_certificate      /etc/letsencrypt/live/{{ server_name }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ server_name }}/privkey.pem;
{% endif %}

    keepalive_timeout    60;

    location / {
        proxy_next_upstream off;
        proxy_read_timeout 600;

        proxy_pass  http://{{ reverse_proxy.upstream.name }};
        ### force timeouts if one of backend is died ##
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503;

        ### Set headers ####
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $proxy_add_x_forwarded_for;
        ### Most PHP, Python, Rails, Java App can use this header ###
        proxy_set_header   X-Forwarded-Proto https;

        ### By default we don't want to redirect it ####
        proxy_redirect     off;
    }
}

{% endfor %}
