# {{ ansible_managed }}

driftfile /var/lib/ntp/ntp.drift

# Enable this if you want statistics to be logged.
#statsdir /var/log/ntpstats/

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

# Specify one or more NTP servers.
{% for server in servers %}
server {{ server }}
{% endfor %}

# Fallback server
server ntp.ubuntu.com

# Peers (if any)
{% if ntp_peers %}{% for peer in ntp_peers %}
peer {{ peer }}
{% endfor %}{% endif %}

# By default, exchange time with everybody, but don't allow configuration.
restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery

# Local users may interrogate the ntp server more closely.
restrict 127.0.0.1
restrict ::1
